*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
    width: 40rem;
    height: 60rem;
    border: 2px black solid;
}

.child {
    width: 5rem;
    height: 8rem;
    border: 2px solid black;
    color: white;
    margin-left: 1rem;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: lightcoral;
}

.black {
    background-color: black;
}