/* New CSS practice */
p {
    color: #403d97;
    font-size: 20px;
    font-style: italic;
}

body{
    background-color:#B8C5F0D9;
}

nav {
    background-color: #B3E7F8;
    text-align: center; 
    clear: both;
}

nav ul li {
    display: inline;
    word-spacing: inherit; 
    
}

nav ul li a {
    color: #9E9CD9;
    font-size: 25px;
    font-style: oblique;
    font: bold;
    text-decoration: none;
    font-family:cursive;

}

.name {
    color: #403d97

}
img {
    float: left;
    width: 200px;
}

.face {
    float: right;
}

.yoga {
    float: right;
}

.location {
    color: #403d97
}