/* New CSS practice */


p {
    color: #403d97;
    font-size: 20px;
    font-style: italic;
}

body{
    box-sizing: border-box;
    background-color:#B8C5F0D9;
    padding: 20px 40px;
    margin: 20p auto;
    border: 10px solid #9E9CD9;
}

nav {
    background-color: #B3E7F8;
    text-align: center; 
    word-spacing: 100px;
    clear: both;
}

nav ul li {
    display: inline;
    word-spacing: inherit; 
    
}

nav ul li a {
    color: #9E9CD9;
    font-size: 25px;
    font-style: oblique;
    font: bold;
    text-decoration: none;
    font-family:cursive;

}

.name {
    color: #7774cc;
   text-align:justify;
}
img {
    float: left;
    width: 200px;
}

.face {
    float: right;
}

.face:hover {
    width:400px;
    border: 5px solid #7774cc;
    box-shadow: #B3E7F8;
}

.yoga {
    float: right;
}

.yoga:hover {
    width:400px;
    border: 5px solid #7774cc;
    box-shadow: #B3E7F8;
}

.location {
    color: #403d97
}