html {
    font-size: 16px;
}
nav {
    background-color: black;
    color: whitesmoke;
}
ul li {
    background-color: black;
    display: inline;
    margin-left: 3rem;
    font-size: 2rem;
}
a,
a:visited,
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    background-color: whitesmoke;
    color: black;
    box-shadow: 5px 5px 10px white;
}
h1 {
    letter-spacing: 10px;
    text-align: center;
}
div {
    font-size: 20px;
}
    p {
    color: orange;
    word-spacing: 10px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-style: italic;
}

#img1 {
    border: 5px black solid;
    padding: 10px 10px 60px 10px;
    width: 50%;
    transform: rotate(0deg);
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -1;
    opacity: 0.5;
    filter: grayscale(100);

}
img {
    width: 100%;
    height: 30rem;
    border-bottom: 50px black solid;
    
}
img:hover{
    transform: rotate(20deg); 
    z-index: -1;
    opacity: 0.5;
    filter: grayscale(0);
}
table,
tr,
th,
td {
    border: 2px red dotted;
    width: 1rem;
    border-spacing: 33px;

}
.box {
    position: relative;
    border: 3px black solid;
    width: 5rem;
    height: 5rem;
    background-color: yellow;
    display: inline-block;

}
.one {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: gray;
    width: 2rem;
    height: 2rem;
}