* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Menu */
header nav{
    background-color: rgba(0, 0, 0, 0.766);
    position: fixed;
}
nav ul li {
    height: 3rem;
    display: inline;
    margin-left: 3rem;
}
h1 {
    color: red;
    background-color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight:lighter;
}

/* DRY means Don't Repeat Yourself */
section div {
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#green{
    background-color: green;
}
span {
    position: relative;
    top: 15px;
    left: 50px;
    background-color: rgba(0, 0, 255, 0.5);

}
/* Styling About */
main img{
    width: 150px;
    height: 150px;
    border-top: 40px black solid;
    padding: 10px;
}