@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Source+Sans+Pro:wght@300&display=swap');
@import url('./color2.css');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Dongle;
    width: 100vw;
    height: 100vh;
}

form {
    margin: 25% auto;
    width: 50%;
    height: 50%;
}

fieldset{
    border-radius: 2%;
}

fieldset input, select{
    margin: 2vh auto;
    display: block;
    width: 40%;
    background-color: transparent;
    border: none;
    border-bottom: 2px gray solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  

fieldset input:focus{
    outline: none;
    border-bottom: 2px orange solid;

}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;

}

.switch{
    position: relative;
    width: 4rem;
    height: 4rem;
    border: 2px red dashed;
    margin-left: 1rem;
}

.slider{ 
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px orange solid;
    cursor: pointer;
    background-color: gray;
    border-radius: 5rem;
    transition: 0.2s;
}

i {
    font-size: 3rem;
    color: var(--orange-is-my-fav);
    box-shadow: 3px 4px 4px gray;
    border-radius: 50%;
}