@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Source+Sans+Pro:wght@300&display=swap');
@import url('./color2.css')
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Dongle;
    width: 100vw;
    height: 100vh;
}

i {
    font-size: 3rem;
    color: var(--orange-is-my-fav);
    box-shadow: 3px 4px 4px gray;
    border-radius: 50%;
}